body {
  font-family: 'Roboto';
  display: flex;
  justify-content: center;
}

.logo {
  font-weight: 700;
  padding: 40px 0;
}
.wrapper{
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}
.menu__item:last-child{
 margin: 0;
}
.menu {padding: 40px 0;}
.menu__item {margin-right:10px;}
